body{
  background-color: #B5B2B8;
}
.container{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100%;
}
.listaArchivos{
  border: 1px solid black;
  width: 20%;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 60%;
  margin: 0 0 0 10px;
  padding: 20px;
}
li:hover{
  background-color: #67636A;
  color: white;
}
.mostrarHtml{

}
.verTexto{
  width: 60%;
}
